


  textarea {
     width: 600px;
    display: flex;
       flex-direction: column;
     padding: 16px;
     border: 1px solid black;
    border-radius: 4px; 
     margin-bottom: 28px; 
     line-height: 16px;

     font: inherit;
     letter-spacing: 0.01em;

     resize: none;} 
